.video-show-overall-comment-container {
  
  header {
    margin-bottom: 24px;
  }
  > div:hover {
    .comments-edit-or-delete-button {
      display: block;
    }
  }

  .comments-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
  }

  .comments-edit-or-delete-button {
    width: 24px;
    height: 24px;
    filter: invert(61%) sepia(0%) saturate(4231%) hue-rotate(90deg) brightness(92%) contrast(84%);
    display: none;
    position: absolute;
    top: -5px;
    right: 0;
  }
  .comments-edit-button {
    right: 40px;
  }

  // .comments-delete-button {
  //   margin-left: 10px;
  // }

  .comment-item-container {
    display: flex;
    height: auto;
    margin-bottom: 16px;
    position: relative;

    .comment-item-info {

      .comment-item-user-info {
        font-size: 13px;
        margin-bottom: 8px;
        span:first-of-type {
          font-weight: 500;
          color: black;
          padding-right: 6px;
          line-height: 18px;
        }

        span:last-of-type {
          color: #606060;
          font-weight: 400;
        }

        .comment-item-currentuser:first-of-type {
          background-color: #888888;
          border-radius: 10px;
          color: white;
          padding-left: 6px;
          margin-right: 6px;
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
      .comment-item-body {
        margin-bottom: 8px;
        p {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
        }
      }

      .comment-item-likes-container {
        display: flex;
        
        div {
          display: flex;
          align-items: center;
          font-size: 13px;
          color: #909090;
          img {
            width: 20px;
            height: 20px;
            padding: 8px 5px 8px 8px;
            margin: 0;
            filter: invert(61%) sepia(0%) saturate(4231%) hue-rotate(90deg) brightness(92%) contrast(84%);
          }
          span {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

.comment-create-form-container {
    margin: 24px 0 32px 0;
    height: auto;
    width: 100%;
    .comment-form-content {
      display: flex;

      form {
        width: 100%;
        ::placeholder {
          font-size: 14px;
          font-weight: 400;
          color: #606060;
          
        }
        label {
          height: auto;
        }
        textarea {
          display: inline-flexbox;
          overflow-y: visible;
          width: 100%;
          border-bottom: 1px solid #DADCE0;
          // padding-bottom: 5px;
          font-weight: 300;
          resize: none;
          // height: 24px;
          // height: auto;
          // max-width: 100%; 
          // max-height: 100%;
          background-color: #F9F9F9;
        }
        div {
          padding-top: 8px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }