html, body, #root, .app-container, .overall-videos-container  {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.profile-picture {
  position: relative;
  border-radius: 50%;
}

.convert-gray {
  filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(98%) contrast(88%);
}

.convert-black:hover {
  filter: invert(0%) sepia(3%) saturate(7493%) hue-rotate(12deg) brightness(107%) contrast(96%);
}

.nav-bar-hidden-div {
  height: 56px;
  display: block;
}

.aspect-ratio-container {
  height: 0;
  overflow: hidden;
  padding-top: 9 / 16 * 100%;
  position: relative;
}
.aspect-ratio-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.label-input-file-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;

  input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    // display: none;
  }
}
