.main-nav-container {
  box-sizing: border-box;
  padding: 0 16px;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-right: 16px;
    color: gray;
    align-self: center;
  }
  .profile-picture {
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 0;
  }

  .convert-gray {
    filter: invert(30%) sepia(7%) saturate(398%) hue-rotate(165deg) brightness(94%) contrast(98%);
  }

  .small-img {
    width: 20px;
    height: 20px;
  }

  .vidtube-logo {
    width: 80px;
    height: 24px;
  }

  .left-nav {
    display: flex;
    div {
      display: flex;
    }
  }

  .center-nav {
    margin: 0 40px;
    display: flex;
    ::placeholder {
      font-weight: 300;
    }
    input {
      width: 575px;
      height: 32px;
      border: 1px solid rgb(220, 220, 220);
      padding-left: 8px;
      box-shadow:inset 0 0 1px 1px rgba(197, 197, 197, 0.212);
    }
    div {
      width: 65px;
      height: 32px;
      background-color: #F8F8F8;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid rgb(220, 220, 220);
      border-right: 1px solid rgb(220, 220, 220);
      border-bottom: 1px solid rgb(220, 220, 220);
      img {
        margin: 0;
      }
    }
  }

  .right-nav {
    display: flex;

    a {
      width: 105px;
      height: 40px;
      color: #1A73E8;
      border: 1px solid #1A73E8;
      border-radius: 3px;
      display: flex;
      align-items: center;
      img {
        margin-right: 0;
        padding-right: 4px;
      }
    }
  }

  .gearDropDown {
    position: absolute;
    width: 300px;
    border: 1px solid rgb(220, 220, 220);
    border-top: 0;
    right: 70px;
    top: 10px;
    z-index: 2;
    background-color: white;

    section, header {
      padding: 8px 16px;
      display: flex;
      align-items: center;
    }
    section {
      border-top: 1px solid rgb(220, 220, 220);
      font-size: 14px;
    }
    section:hover {
      background-color: rgb(240, 240, 240);
    }
    header {
      font-weight: 500;

      img {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        padding: 0;
      }
    }
  }
}