.main-nav-container {
  box-sizing: border-box;
  padding: 0 16px;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 6;

  img {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-right: 16px;
    color: gray;
    align-self: center;
  }
  .profile-picture {
    width: 32px;
    height: 32px;
  }

  .small-img {
    width: 20px;
    height: 20px;
  }

  .vidtube-logo {
    width: 80px;
    height: 24px;
    // margin-left: 50px;
  }

  .left-nav {
    display: flex;
    div {
      display: flex;
    }
  }

  .center-nav {
    margin: 0 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    ::placeholder {
      font-weight: 300;
    }
    input {
      max-width: 575px;
      width: 100%;
      height: 32px;
      border: 1px solid rgb(220, 220, 220);
      padding-left: 8px;
      box-shadow:inset 0 0 1px 1px rgba(197, 197, 197, 0.212);
    }

    input:focus {
      border: 1px solid #1A73E8;
    }

    button {
      width: 65px;
      height: 32px;
      background-color: #F8F8F8;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid rgb(220, 220, 220);
      border-right: 1px solid rgb(220, 220, 220);
      border-bottom: 1px solid rgb(220, 220, 220);
      img {
        margin: 0;
        padding: 0;
      }
    }

    button:hover {
      background-color: rgb(240, 240, 240);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    button:hover img {
      filter: invert(20%) sepia(0%) saturate(2517%) hue-rotate(247deg) brightness(83%) contrast(90%);
    }
  }

  .right-nav {
    display: flex;

    a {
      width: 105px;
      height: 40px;
      color: #1A73E8;
      border: 1px solid #1A73E8;
      border-radius: 3px;
      display: flex;
      align-items: center;
      img {
        margin-right: 0;
        padding-right: 4px;
      }
    }
  }

  .user-drop-down {
    position: absolute;
    width: 300px;
    border: 1px solid rgb(220, 220, 220);
    border-top: 0;
    right: 16px;
    top: 50px;
    z-index: 2;
    background-color: white;

    section, header {
      padding: 8px 16px;
      display: flex;
      align-items: center;
    }
    section {
      border-top: 1px solid rgb(220, 220, 220);
      font-size: 14px;
    }
    section:hover {
      background-color: rgb(240, 240, 240);
    }
    header {
      font-weight: 500;

      img {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        padding: 0;
      }
    }
  }

}