.session-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
}

.session-form-container {
  border: 1px solid #DADCE0;
  border-radius: 10px;
  width: 448px;
  height: 500px;
  padding: 48px 40px 36px 40px;
}

.session-form-container > form {
  ::placeholder {
    color: #94999D;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  header {
    height: 75px;
    h2 {
      margin-bottom: 13px;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span {
    color: #D93025;
  }
  input {
    border: 1px solid #DADCE0;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 5px;
  }

  input:focus {
    border: 2px solid #1A73E8;
  }

  button {
    background-color: #1A73E8;
    color: white;
    width: 88px;
    height: 36px;
    border-radius: 5px;
    text-align: center;
  }

  button:hover {
    background-color: #287AE6;
    box-shadow: 0 2px 5px rgba(127, 182, 253, 0.7);
  }
}

.signup-input {
  height: 36px;
}

.login-input {
  height: 54px;
}

.session-header h2 {
  font-size: 24px;
}

.session-header h4 {
  font-size: 16px;
}

.session-blue-link {
  color: #1A73E8;
  font-weight: 500;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-email-box {
  border: 1px solid #DADCE0;
  border-radius: 20px;
  padding: 7px 15px;
  .user-signin-img {
    margin-right: 5px;
    width: 16px;
  }
  .down-arrow-img {
    margin-left: 5px;
    width: 10px;
  }
}

.login-submit-button-box {
  margin-left: auto;
  cursor: pointer;
}

