.session-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    header {
      height: 75px;
      h2 {
        margin-bottom: 13px;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .error-input-warnings span {
      color: #D93025;
    }
    input {
      border: 1px solid #DADCE0;
      border-radius: 5px;
      width: 100%;
      font-size: 16px;
      padding: 0 15px;
      margin-bottom: 5px;
      position: relative;
    }

    input:focus {
      border: 2px solid #1A73E8;
    }

    button {
      background-color: #1A73E8;
      color: white;
      width: 88px;
      height: 36px;
      border-radius: 5px;
      text-align: center;
    }

    button:hover {
      background-color: #287AE6;
      box-shadow: 0 2px 5px rgba(127, 182, 253, 0.7);
    }

    label > div {
      display: flex;
      justify-content: flex-start;
    }
  }
  .vidtube-logo {
    width: 75px;
    height: 24px;
    margin-bottom: 20px;
  }
}

.session-form-login-container {
  border: 1px solid #DADCE0;
  border-radius: 10px;
  width: 448px;
  height: 500px;
  padding: 48px 40px 36px 40px;

  p {
    color: #5f6368
  }
  .error-input-style {
      border: 1px solid #D93025;
  }

  label {
    position: relative;
  }

  .input-label-float {
    top: 43px;
    left: 14px;
    font-size: 16px;
    color: #94999D;
  }

  input:focus ~ .input-label-float,
  input:valid ~ .input-label-float {
    top: 17px;
    left: 14px;
    font-size: 12px;
  }
}

.session-form-signup-container {
  display: flex;
  align-items: center;
  border: 1px solid #DADCE0;
  border-radius: 10px;
  width: 748px;
  height: 558px;
  padding: 48px 40px 36px 40px;
  form {
    width: 370px;
    height: 370px;
    padding-right: 40px;
    label {
      margin-bottom: 32px;
      position: relative;
    }
    label:last-of-type {
      margin-bottom: 0;
    }
    p {
      margin-top: 8px;
      margin-bottom: 40px;
      font-size: 12px;
      font-weight: normal;
    }
    .error-input-style {
      border: 1px solid #D93025;
    }
  }

  form > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 364px;
  }
  
  .signup-account-pic-box {
    width: 252px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    img {
      width: 244px;
      height: 244px;
    }
    p {
      width: 244px;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      line-height: 1.3;
    }
  }

  .input-label-float {
    top: 10px;
    left: 15px;
    color: #94999D;
    font-size: 14px;
  }

  input:focus ~ .input-label-float,
  input:valid ~ .input-label-float {
    top: -5px;
    left: 20px;
    font-size: 12px;
  }
}

.signup-input {
  height: 36px;
  min-width: 364px;
}

.login-input {
  margin-top: 24px;
  height: 54px;
}

.session-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.session-header h4 {
  font-size: 16px;
}


.session-blue-link {
  color: #1A73E8;
  font-weight: 500;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-email-box {
  border: 1px solid #DADCE0;
  border-radius: 20px;
  padding: 7px 15px;
  .user-signin-img {
    margin-right: 5px;
    width: 16px;
  }
  .down-arrow-img {
    margin-left: 5px;
    width: 10px;
  }
  cursor: pointer;
}

.login-submit-button-box {
  margin-left: auto;
  cursor: pointer;
}

.login-input-password-filler {
  height: 50px;
  order: 5;
}

.error-icon-img {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.input-label-float {
  position: absolute;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: white;
  padding: 0 5px;
}

input:valid ~ .input-label-float {
  color: #94999D;
}

input:focus ~ .input-label-float {
  color: #1A73E8;
}