.main-outer-video-form {
  width: 1000px;
  height: 605px;
  background-color: white;
  border-radius: 6px;
  .video-form-title-row {
    height: 64px;
    padding: 0 16px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DADCE0;
    h1 {
      font-size: 20px;
      font-weight: 500px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
  .video-form-container {
    height: 500px;
    padding: 8px 48px 24px 48px;
    overflow-y: scroll;

    .video-form-details-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      margin-top: 15px;
      height: 32px;
      h1 {
        font-size: 25px;
      }

      .video-delete-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(180, 1, 1);
        color: white;
        padding: 10px 0px;
        height: 16px;
        width: 106px;
        font-size: 14px;
        border-radius: 2px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 30px;

      ::placeholder {
        color: #94999D;
        font-weight: 300;
      }
      textarea {
        box-sizing: border-box;
        border: 1px solid #DADCE0;
        border-radius: 5px;
        width: 100%;
        height: 81px;
        font-size: 15px;
        padding: 30px 12px 11px 12px;
        resize: none;
      }

      .error-input-style {
        border: 1px solid #D93025;
      }

      .video-form-text-inputs-label {
        position: relative;
        width: 536px;
        margin-bottom: 20px;
        
        .input-label-float {
          font-size: 12px;
          font-weight: 400;
          position: absolute;
          top: 10px;
          left: 8px;
          color: #94999D;
          pointer-events: none;
        }

        .error-input-style ~ .input-label-float {
          color: #D93025;
        }
 

        .text-character-remaining {
          position: absolute;
          bottom: 15px;
          right: 10px;
          font-size: 12px;
          font-weight: 400;
          color: #94999D;
          display: none;
        }

        .input-form-text-char-errors {
          bottom: 28px;
        }

        textarea:focus {
          border: 1px solid #1A73E8;

          ~ .text-character-remaining {
            display: inline;
          }

          ~ .input-label-float {
            color: #1A73E8;
          }
        }

        .video-form-description {
          height: 152px;
        }
      }

      .video-form-thumbnail-container {
        line-height: 20px;
        h2 {
          font-size: 15px;
          font-weight: 500px;
        }
        p {
          color: #94999D;
          font-size: 13px;
          font-weight: 400;
          margin-bottom: 8px;
        }
        .label-input-file-container {
          flex-direction: row;
        }
        
        img {
          width: 153px;
          height: 82px;
        }
        .video-form-thumbnail-input-container {
          display: flex;
          margin-bottom: 10px;
          label {
            width: 153px;
            height: 82px;
            padding: 10px 16px 0 16px;
            box-sizing: border-box;
            border: 1px dashed #94999D;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0.6;
            margin-right: 10px;

            img {
              width: 20px;
              height: 20px;
              margin-bottom: 8px;
            }

            input {
              width: 100%;
            }
            p {
              color: black;
            }
          }

          .error-input-style  {
            border: 1px dashed #D93025;
          }

          label:hover {
            opacity: 1;
            background-color: #DADCE0;
          }
        }
        .error-input-warnings > img {
          width: 13px;
          height: 13px;
        }
      }

      .video-form-submit-box {
        position: fixed;
        height: 53px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        bottom: 0;
        right: 0;
        border-top: 1px solid #DADCE0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        button {
          box-sizing: border-box;
          height: 36px;
          background-color: #1A73E8;
          color: white;
          padding: 0px 16px;
          border-radius: 2px;
          font-size: 14px;
          font-weight: 500;
          margin-right: 8px;
        }
      }
      .video-form-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .video-form-content-right {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px 20px;
          width: 100%;
          
          .upload-icon-div {
            width: 136px;
            height: 136px;
            border-radius: 50%;
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 23px;
          }
          img {
            width: 75px;
            height: 75px;
            filter: invert(72%) sepia(2%) saturate(13%) hue-rotate(354deg) brightness(82%) contrast(83%);
          }

          .error-input-warnings > img {
            width: 13px;
            height: 13px;
            filter: none;
          }
          p:first-of-type {
            font-size: 15px;
            line-height: 20px;
          }
          p:last-of-type {
            font-size: 13px;
            color: #94999D;
            line-height: 20px;
            margin-top: 5px;
            margin-bottom: 20px;
          }

          .video-form-select-file-button {
            box-sizing: border-box;
            height: 36px;
            background-color: #1A73E8;
            color: white;
            padding: 9px 16px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
        .video-form-content-left {
          display: flex;
          flex-direction: column;
          margin-right: 12px;
        }
      }
    }
  }
}
.error-input-warnings {
  display: flex;
  color: #D93025;
  font-size: 12px;
  align-items: center;
}