.overall-videos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  box-sizing: border-box;
  background-color: #F9F9F9;

  h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 36px 0 24px 8px;
  }
}

.inner-videos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F9F9F9;

  .video-item-container, .hidden-video-item {
    min-width: 240px;
    max-width: 400px;
    width: 400px;
    margin: 0 8px 40px 8px;
    flex: 1 1 18%; // grow, shrink, basis

    .video-item-info {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      min-height: 74px;
      
      .channel-image {
        width: 36px;
        height: 36px;
        margin: 12px 12px 0 0;
      }
      .video-item-text {
        width: 100%;
        padding-right: 24px;
      }

      span {
        color: #606060;
      }
      h3 {
        margin: 12px 0;
        font-weight: 500;
      }

    }
  }
  
  .hidden-video-item {
    height: 0px;
  }
}



